* {
	margin: 0;
	padding: 0;
}

#board {
	width: 400px;
	height: 515px;
	padding: 0px;
	margin: 0px auto;
}

img {
	width: 100px;
	height: 100px;
	margin: 0px;
	padding: 0px;
	vertical-align: top;
}

#scoreCard {
	width: 400px;
	height: 50px;
	margin: 0 auto;
}